$headerHeight: 72px;
$cHeaderBaseColor: #54a4f7;
$cWhite: #fff;
$cLightGray: #eee;

@mixin link-hover-motion {
  transition: all 0.2s;

  &:hover {
    color: $cWhite;
    border-bottom: 1px solid $cLightGray;
  }
}

.header {
  height: $headerHeight;
  background-color: $cHeaderBaseColor;
}

.header__contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 40px);
  height: 100%;
  margin: 0 auto;
}

.header__title {
  color: $cWhite;
  font-size: 20px;
  font-weight: bold;
}

.header__nav {
  display: none;
}

.header__list {
  list-style: none;
  font-size: 14px;
}

.header__item {
  display: inline-block;

  & > a {
    display: block;
    color: $cLightGray;
    text-decoration: none;
    padding: 10px;
    border-bottom: 1px solid $cHeaderBaseColor;
    @include link-hover-motion();
  }
}

.header__item-is-button {
  border: 1px solid $cWhite;
  border-radius: 4px;

  &:hover {
    background-color: $cWhite;

    & > a {
      color: $cHeaderBaseColor;
    }
  }
}

.mobile__button {
  position: relative;
  width: 32px;
  height: 40px;

  & > span {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    background-color: $cWhite;
    width: 50%;
    height: 2px;
    transform: translate(-50%, -50%);

    &:nth-child(1) {
      top: 32%;
    }
    &:nth-child(3) {
      top: 68%;
    }
  }
}

.mobile__nav {
  position: absolute;
  top: $headerHeight;
  left: 0;
  display: none;
  width: 100%;

  &.show {
    display: block;
  }
}

.mobile__list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 14px;
}

.mobile__item {
  background-color: $cHeaderBaseColor;
  padding: 0px 28px 0px 28px;

  & > a {
    display: block;
    color: $cLightGray;
    text-decoration: none;
    padding: 18px 0px 18px 8px;
    border-bottom: 1px solid $cHeaderBaseColor;
    @include link-hover-motion();
  }
}

@media (min-width: 620px) {
  .mobile__button {
    display: none;
  }

  .header__nav {
    display: block;
  }

  .mobile__nav,
  .mobile__nav.show {
    display: none;
  }
}
